p {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
a {
    color: #0366d6;
    text-decoration: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body {
	color: #24292e;
	text-align: auto;
	align: auto;
	width: 850px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
    line-height: 1.5;
	 margin: 50px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dfe2e5;	
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f6f8fa;}
img {
	max-width: 800px;
}

pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}